<%
var title = '';
var icon = '';
if (page.category){
  title = page.category;
  icon = 'category';
};
if (page.tag){
  title = page.tag;
  icon = 'tag';
};
if (page.archive){
  icon = 'archive';
  if (page.year) title = page.year+  (page.month ? '/' + page.month : '');
  else title = __('archive_a');
};
%>

<div class="archives-wrap">
  <div class="archive-title" >
    <h2 class="<%= icon %>-icon"><%= title %></h2>
    <% if(page.archive){ %>
    <div class="archiveslist archive-float clearfix">
   </div>
    <% } %>
  </div>

  <% if (pagination == 2){ %>
    <% page.posts.each(function(post){ %>
      <%- partial('article', {post: post, index: true}) %>
    <% }) %>
  <% } else { %>
    <% var last; %>
    <% page.posts.each(function(post, i){ %>
      <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
    <% }) %>
  <% } %>

  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
</div>
<hr>